<div class="omega-layout-wrapper">
    <div class="layout--omega--traditional omega-layout {{ layout_classes }}">
        {% if content.header %}
            <section class="layout--group region-group region-group--header {{ region_classes.header }}">
                <div class="layout--region layout--region--header">
                    {{ content.header }}
                </div>
            </section>
        {% endif %}

        {% if content.preface_first or content.preface_second or content.preface_third or content.preface_fourth %}
        <section class="layout--group region-group region-group--preface {{ region_classes.preface }}">
            {% if content.prefact_first %}
            <div class="layout--region layout--region--preface-first">
                {{ content.preface_first }}
            </div>
            {% endif %}
            {% if content.prefact_second %}
            <div class="layout--region layout--region--preface-second">
                {{ content.preface_second }}
            </div>
            {% endif %}
            {% if content.prefact_third %}
            <div class="layout--region layout--region--preface-third">
                {{ content.preface_third }}
            </div>
            {% endif %}
            {% if content.prefact_fourth %}
            <div class="layout--region layout--region--preface-fourth">
                {{ content.preface_fourth }}
            </div>
            {% endif %}
        </section>
        {% endif %}

        {% if content.content or content.sidebar_first or content.sidebar_second %}
        <section class="layout--group region-group region-group--content {{ region_classes.content }}">
            {% if content.content %}
            <div class="layout--region layout--region--content">
                {{ content.content }}
            </div>
            {% endif %}
            {% if content.sidebar_first %}
            <div class="layout--region layout--region--sidebar-first">
                {{ content.sidebar_first }}
            </div>
            {% endif %}
            {% if content.sidbar_second %}
            <div class="layout--region layout--region--sidebar-second">
                {{ content.sidebar_second }}
            </div>
            {% endif %}
        </section>
        {% endif %}

        {% if content.postscript_first or content.postscript_second or content.postscript_third or content.postscript_fourth %}
            <section class="layout--group region-group region-group--postscript {{ region_classes.postscript }}">
                {% if content.prefact_first %}
                    <div class="layout--region layout--region--postscript-first">
                        {{ content.postscript_first }}
                    </div>
                {% endif %}
                {% if content.prefact_second %}
                    <div class="layout--region layout--region--postscript-second">
                        {{ content.postscript_second }}
                    </div>
                {% endif %}
                {% if content.prefact_third %}
                    <div class="layout--region layout--region--postscript-third">
                        {{ content.postscript_third }}
                    </div>
                {% endif %}
                {% if content.prefact_fourth %}
                    <div class="layout--region layout--region--postscript-fourth">
                        {{ content.postscript_fourth }}
                    </div>
                {% endif %}
            </section>
        {% endif %}

        {% if content.footer %}
            <section class="layout--group region-group region-group--footer {{ region_classes.footer }}">
                <div class="layout--region layout--region--footer">
                    {{ content.footer }}
                </div>
            </section>
        {% endif %}
    </div>
</div>
