<div class="layout-wrapper">
    <div class="layout--traditional">
        <section class="region-group region-group--header">
            <div class="layout--region--header">
                {{ content.header }}
            </div>
        </section>

        <section class="region-group region-group--preface">
            <div class="layout--region--preface-first">
                {{ content.preface_first }}
            </div>
            <div class="layout--region--preface-second">
                {{ content.preface_second }}
            </div>
            <div class="layout--region--preface-third">
                {{ content.preface_third }}
            </div>
            <div class="layout--region--preface-fourth">
                {{ content.preface_fourth }}
            </div>
        </section>

        <section class="region-group region-group--main">
            <div class="layout-region--main">
                {{ content.main }}
            </div>
            <div class="layout-region--sidebar-first">
                {{ content.sidebar_first }}
            </div>
            <div class="layout-region--sidebar-second">
                {{ content.sidebar_second }}
            </div>
        </section>

        <section class="region-group region-group--postscript">
            <div class="layout--region--postscript-first">
                {{ content.postscript_first }}
            </div>
            <div class="layout--region--postscript-second">
                {{ content.postscript_second }}
            </div>
            <div class="layout--region--postscript-third">
                {{ content.postscript_third }}
            </div>
            <div class="layout--region--postscript-fourth">
                {{ content.postscript_fourth }}
            </div>
        </section>

        <section class="region-group region-group--footer">
            <div class="layout-region--footer">
                {{ content.footer }}
            </div>
        </section>
    </div>
</div>
