{% extends "@block/block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  <header class="site--branding-area clearfix">
    {% if site_logo %}
      <div class="site--logo">
        <a href="{{ url('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site--logo--link">
          {% if svglogo %}
              {% include site_logo %}
          {% else %}
              <img class="site--logo--image" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
          {% endif %}
        </a>
      </div>
    {% endif %}

    {% if site_name %}
      <div class="site--branding">
        <div class="site--branding--name">
          <a href="{{ url('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name|e }}</a>
        </div>

      {% if site_slogan %}
        <div class="site--branding--slogan">{{ site_slogan }}</div>
      {% endif %}

      </div>
    {% endif %}

  </header>
{% endblock %}
