<div class="omega-layout-wrapper">
    <div class="layout--omega--one-column-stacked omega-layout {{ layout_classes }}">

        {% if content.user %}
            <section class="layout--group region-group region-group--user {{ region_classes.user }}">
                <div class="layout--region layout--region--user">
                    {{ content.user }}
                </div>
            </section>
        {% endif %}

        {% if content.header %}
        <section class="layout--group region-group region-group--header {{ region_classes.header }}">
            <div class="layout--region layout--region--header">
                {{ content.header }}
            </div>
        </section>
        {% endif %}

        {% if content.content %}
        <section class="layout--group region-group region-group--content {{ region_classes.content }}">
            <div class="layout--region layout--region--content">
                {{ content.content }}
            </div>
        </section>
        {% endif %}

        {% if content.footer %}
        <section class="layout--group region-group region-group--footer {{ region_classes.footer }}">
            <div class="layout--region layout--region--footer">
                {{ content.footer }}
            </div>
        </section>
        {% endif %}
    </div>
</div>
